{% if list is empty %}
    <p>nie utworzyłeś jeszcze żadnego konkursu</p>
{% else %}
    {% for contest in list %}
        <div>
            <tr>
                <td>
                    <a href="{{ path }}{{ user.login }}/{{ contest.link }}">
                        {% if contest.img_name == NULL %}
                            <img src="{{ path }}images/defaults/no_image.png" style="width: 100px; height: 100px;"/>
                        {% else %}
                            <img src="{{ path }}img/{{ contest.img_name }}?height=100"/>
                        {% endif %}
                    </a>
                </td>
                <td>{{ contest.title }}</td>
                <td>{{ contest.count_participants }}</td>
                <td>
                    <b>
                    {% if contest.status == 0 %}
                        <span style="color: rgb(255, 216, 51);">nierozpoczęty</span>
                    {% elseif contest.status == 1 %}
                        <span style="color: rgb(13, 159, 6)">trwa</span>
                    {% elseif contest.status == 2 %}
                        <span style="color: rgb(168, 3, 3)">zakończony</span>
                    {% endif %}
                    </b>
                </td>
            </tr>
        </div>
    {% endfor %}
{% endif %}
