{% if notifications_list is empty %}
    <p>nie masz żadnych powiadomień</p>
{% else %}
    {% for notification in notifications_list %}
        <div data-id="{{ notification.id_notification }}" class="notification_wrapper" style="width: 475px; height: 75px; border: 2px solid rgb(213, 213, 213);
        {% if notification.status == 1 %}
            background-color: rgb(242, 242, 242);
        {% endif %}
        ">
            <table style="position: relative;">
                <span style="top: 0px; right: 0px; color: rgb(101, 101, 101);">{{ notification.date }}</span>
                <tr>
                    {% if notification.type == 6 %}
                        <td>
                            Zaproszenie do grupy:
                            <span class="group_tag">{{ notification.group_data.unique_name }}</span> | <span class="group_name">{{ notification.group_data.name }}</span>
                            <button class="confirm">Zaakceptuj</button><button class="reject">Odrzuć</button>
                        </td>
                    {% else %}
                        <td>
                            {% if notification.contest_data.img_name == NULL %}
                                <img src="{{ path }}images/defaults/no_image.png" style="width: 50px; height: 50px;"/>
                            {% else %}
                                <img src="{{ path }}img/{{ notification.contest_data.img_name }}?height=50"/>
                            {% endif %}
                        </td>
                        <td style="min-width: 75px;">
                            <a href="{{ path }}{{ notification.contest_data.creator_login }}/{{ notification.contest_data.link }}">{{ notification.contest_data.title }}</a>
                        </td>
                        <td>
                            {% if notification.type == 0 %}
                                {% if notification.contest_data.contest_type == 2 %}
                                    Nie zostałeś wylosowany jako zwycięzca
                                {% elseif notification.contest_data.contest_type == 3 %}
                                    Twoja praca nie została wybrana jako zwycięska
                                {% endif %}
                            {% elseif notification.type == 1 %}
                                {% if notification.contest_data.prize_delivery == 1 %}
                                    Wygrałeś! Skontaktuj się z autorem konkursu aby odebrać swoją nagrodę (<a href="{{ path }}messages/{{ notification.contest_data.creator_login }}/new">napisz wiadomość</a>)
                                {% else %}
                                    Wygrałeś! Wejdź na stronę konkursu aby odebrać swoją nagrodę
                                {% endif %}
                            {% elseif notification.type == 2 %}
                                Konkurs został zakończony, aby zobaczyć rezultat przejdź na stronę konkursu
                            {% elseif notification.type == 3 %}
                                {% if notification.contest_data.draw_status == 1 %}
                                    Odbyło się losowanie, aby zatwierdzić jego wyniki przejdź na stronę konkursu
                                {% elseif notification.contest_data.draw_status == 2 %}
                                    Losowanie zostało zakończone, aby zobaczyć rezultat przejdź na stronę konkursu
                                {% endif %}
                            {% elseif notification.type == 4 %}
                                Jeden z użytkowników poprawnie odpowiedział na pytanie
                            {% elseif notification.type == 5 %}
                                Czas na wylosowanie nowych zwycięzców minął. Losowanie zostało zatwierdzone, a konkurs zakończony.
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            </table>
        </div>
    {% endfor %}
{% endif %}
