{% extends 'base/panel_base.html.twig' %}

{% block title %}Ustawienia Profilu{% endblock %}
{% block panel_content %}
	<div class="profile-content">
		<table style="width: 100%;">
			<tr style="height: 50px;">
				<td rowspan="4" style="width: 40%;">
				{% if avatar_name == null %}
					<img src="{{ path }}images/defaults/avatar.png" alt="Default avatar"/>
				{% else %}
					<img src="{{ path }}img/{{ avatar_name }}" alt="Your avatar"/>
				{% endif %}
				</td>
				<td>
					<form method="post" action="" enctype="multipart/form-data" class="upload-avatar">
						<input type="file" name="avatar" id="avatar"> <input type="submit" value="Upload"/>
					</form>
				</td>
			</tr>
			<tr style="height: 50px;">
				<td style="color: #797979;">Plik z roszerzeniem PNG, JPG lub GIF o maksymalnym rozmiarze 1 MB.</td>
			</tr>
			<tr style="height: 50px;">
				<td class="error-container-upload-avatar"></td>
			</tr>
		</table>

		<div class="settings_container">
			Email: {{ profile.email }} <span class="a expand">Edytuj</span>
			<div class="edit_form" style="display: none;">
				<form method="post" action="" class="email">
					<input type="text" name="email" placeholder="Nowy email" size="20"/>
					<input type="submit" value="Zapisz zmiany"/>
				</form>
				<div class="error-container-email"></div>
				<div class="success-container-email"></div>
			</div>
		</div>

		<div class="settings_container">
			Hasło: <span class="a expand">Edytuj</span>
			<div class="edit_form" style="display: none;">
				<form method="post" action="" class="password">
					<input type="password" name="old_password" placeholder="Stare hasło" size="20"/><br />
					<input type="password" name="new_password" placeholder="Nowe hasło" size="20"/>
					<input type="password" name="repeat_new_password" placeholder="Potwierdź nowe hasło" size="20"/>
					<input type="submit" value="Zapisz zmiany"/>
				</form>
				<div class="error-container-password"></div>
			</div>
		</div>

		<div class="settings_container">
			Imię i nazwisko:
			{% if profile.name is empty %}
				brak
			{% else %}
				{{ profile.name }}
			{% endif %}
			<span class="a expand">Edytuj</span>
			<div class="edit_form" style="display: none;">
				<form method="post" action="" class="name">
					<input type="text" name="name" placeholder="Imię i nazwisko" size="20"/>
					<input type="submit" value="Zapisz zmiany"/>
				</form>
				<div class="error-container-name"></div>
			</div>
		</div>

		<div class="settings_container">
			Lokacja:
			{% if profile.location is empty %}
				brak
			{% else %}
				{{ profile.location }}
			{% endif %}
			<span class="a expand">Edytuj</span>
			<div class="edit_form" style="display: none;">
				<form method="post" action="" class="location">
					<input type="text" name="location" placeholder="Lokacja" size="20"/>
					<input type="submit" value="Zapisz zmiany"/>
				</form>
				<div class="error-container-location"></div>
			</div>
		</div>

		<div class="settings_container">
			Email kontaktowy:
			{% if profile.contact_email is empty %}
				brak
			{% else %}
				{{ profile.contact_email }}
			{% endif %}
			<span class="a expand">Edytuj</span>
			<div class="edit_form" style="display: none;">
				<form method="post" action="" class="contact_email">
					<input type="text" name="contact_email" placeholder="Email kontaktowy"/>
					<input type="submit" value="Zapisz zmiany"/>
				</form>
				<div class="error-container-contact-email"></div>
			</div>
		</div>

		{% set type_0 = null %}
		{% set type_f = null %}
		{% set type_m = null %}
		{% if profile.sex == '0' %}
			{% set type_0 = 'checked="checked"' %}
		{% elseif profile.sex == 'f' %}
			{% set type_f = 'checked="checked"' %}
		{% elseif profile.sex == 'm' %}
			{% set type_m = 'checked="checked"' %}
		{% endif %}

		{% if profile.sex == 'f' %}
			{% set profile = profile|merge({'sex': 'Kobieta'}) %}
		{% elseif profile.sex == 'm' %}
			{% set profile = profile|merge({'sex': 'Mężczyzna'}) %}
		{% else %}
			{% set profile = profile|merge({'sex': 'Nieokreślona'}) %}
		{% endif %}

		<div class="settings_container">
			Płeć: {{ profile.sex }} <span class="a expand">Edytuj</span>
			<div class="edit_form" style="display: none;">
				<form class="sex">
					<input type="radio" name="sex" value="m" {{ type_m }} /> Mężczyzna
					<input type="radio" name="sex" value="f" {{ type_f }} /> Kobieta
					<input type="radio" name="sex" value="0" {{ type_0 }} /> Nieokreślona
					<input type="submit" value="Zapisz zmiany"/>
				</form>
				<div class="error-container-sex"></div>
			</div>
		</div>
	</div>
{% endblock %}
{% block endbody %}
    <script src="/js/profile/profile_settings.js"></script>
{% endblock %}
