{% extends 'base/panel_base.html.twig' %}

{% block title %}Użytkownik {{ profile.login }}{% endblock %}
{% block panel_content %}
	<div class="profile-content">
		<h1>Użytkownik {{ profile.login }}</h1>

		{% if is_logged %}
			{% if user.login != profile.login %}
				<a href="{{ path }}messages/{{ profile.login }}/new">Napisz wiadomość</a>
			{% endif %}
		{% endif %}
		<table>
			<tr>
				<td>Login</td>
				<td>{{ profile.login }}</td>
			</tr>
			<tr>
				<td>Imię i/lub nazwisko</td>
				<td>
				{% if profile.name is empty %}
					brak
				{% else %}
					{{ profile.name }}
				{% endif %}
				</td>
			</tr>
			<tr>
				<td>Lokalizacja</td>
				<td>
				{% if profile.location is empty %}
					brak
				{% else %}
					{{ profile.location }}
				{% endif %}
				</td>
			</tr>
			<tr>
				<td>Dołączył</td>
				<td>{{ profile.register_date }}</td>
			</tr>
		</table>

	</div>
	<div class="opinions_list" style="clear: both; padding-top: 30px;">
		<span style="color: red;">Oceny negatywne: {{ negative.count }}</span>
		<span style="color: green;">Oceny pozytywne: {{ positive.count }}</span>
		{% if opinions is not empty %}
			{% for opinions in opinions %}
				{% if opinions.comment != null %}
					<div style="width: 450px; min-height: 60px; margin-top: 10px;">
				{% else %}
					<div style="width: 300px; min-height: 60px; margin-top: 10px;">
				{% endif %}
						<table style="width: 100%;">
							<tr>
								{% if opinions.comment != null %}
									<td colspan="2">
								{% else %}
									<td colspan="3">
								{% endif %}
									<a href="{{ path }}{{ profile.login }}/{{ opinions.link }}">{{ opinions.title }}</a>
								</td>
								<td></td>
							</tr>
								<td><a href="{{ path }}/profile/{{ opinions.login }}">{{ opinions.login }}</a></td>
								{% if opinions.comment != null %}
									<td style="text-align: center;">{{ opinions.comment | raw }}</td>
								{% endif %}
								<td>
									{% if opinions.rate == 1 %}
										<span style="color: green;">Łapka w górę :)</span>
									{% elseif opinions.rate == 0 %}
										<span style="color: red;">Łapka w dół :(</span>
									{% endif %}
								</td>
							</tr>
							<tr>
								{% if opinions.comment != null %}
									<td colspan="3">
								{% else %}
									<td colspan="4">
								{% endif %}
									{{ opinions.date }}
								</td>
							</tr>
						</table>
					</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
