{% extends 'base/panel_base.html.twig' %}

{% block panel_content %}
    <table>
        <div class="contests_list"></div>
    </table>
{% endblock %}
{% block endbody %}
    <script type="text/javascript" src="/js/profile/user_contests.js"></script>
{% endblock %}
