{% if user is empty %}
    <span class="a login">Zaloguj</span>
    {% if is_main_page != true %}
        | <span class="a register">Zarejestruj</span>
    {% endif %}
{% else %}
    <div class="notifications_container">
        <a href="{{ path }}messages"><span class="pm_notifcations">{{ notifications.pm }}</span></a>
        <span class="cg_notifications">{{ notifications.contests_groups }}</span>
    </div>
    <div class="cg_notifications_container" style="z-index: 1; display: none; width: 500px; height: 400px; position: absolute; background-color: white; border: 1px solid rgb(198, 198, 198); margin-top: 35px;">
        <div style="text-align: center; display: none; font-weight: bold; font-size: 15px; color: red;" class="new_notification_message">masz nowe powiadomienie <span class="refresh_notifications a">odśwież</span></div>
        <div>
            <div class="cg_notifications_content" style="overflow: auto;">

            </div>
            <button style="display: none;" class="load_notifications">Załaduj więcej</button>
        </div>
    </div>
    {{ user.login }} | <a href="{{ path }}create-contest">Stwórz konkurs</a> | <a href="{{ path }}logout">Wyloguj</a>
{% endif %}
