<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | {{ app_name }}</title>
        <link rel="stylesheet" href="{{ path }}css/style.css" type="text/css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="wrapper header">
            <div class="container">
                <div class="logo"><a href="{{ path }}">{{ app_name }}</a></div>
                <div class="account">{% include 'base/account.html.twig' %}</div>
            </div>
        </div>
        <div class="wrapper content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="wrapper footer">
            <div class="container">
                Copyright &copy; {{ app_name }} 2015-2016
            </div>
        </div>
        <div class="operation_error" style="position: fixed; margin: auto; top: 10px; left: 50%; display: none;">
            <div style="position: relative; left: -50%; width: 170px; height: 80px; background-color: rgba(0, 0, 0, 0.9); color: white; border-radius: 10px;">
                <div class="close_operation_error" style="position: absolute; top: 2px; right: 2px; color: rgb(226, 226, 226); cursor: pointer;">X</div>
                <h3>Wystąpił błąd</h3>
                <div class="message"></div>
            </div>
        </div>
        {% if user is empty %}
            <div class="login_register_container" style="display: none;">
                <div class="translucent_background">
                    <div style="width: 400px; position: relative; min-height: 150px; margin: 150px auto; background-color: #FFF; padding: 20px; border-radius: 4px; text-align: center;">
                        <div class="close_window" style="position: absolute; top: 2px; right: 2px; color: rgb(85, 85, 85); cursor: pointer;">X</div>
                        <div class="login" style="display: none;">
                            <h1>Logowanie</h1>
                            <div class="login_error"></div>
                            <form class="login_form">
                                <input type="text" name="login" placeholder="Login lub email"><br>
                                <input type="password" name="password" placeholder="Hasło"><br>
                                <input type="submit" value="Zaloguj">
                            </form>
                        </div>
                        <div class="register" style="display: none;">
                            <h1>Rejestracja</h1>
                            <div class="register_error"></div>
                            <form class="register_form">
                                <input type="text" name="login" placeholder="Login">*<br>
                                <input type="text" name="email" placeholder="Adres e-mail">*<br>
                                <input type="password" name="password" placeholder="Hasło">*<br>
                                <input type="password" name="repeatpassword" placeholder="Powtórz hasło">*<br>
                                <input type="text" name="name" placeholder="Imię i nazwisko"><br>
                                <input type="text" name="location" placeholder="Lokalizacja"><br>
                                <input type="checkbox" name="rules" value="1"> Akceptuję regulamin<br>
                                <input type="submit" value="Zarejestruj">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <script type="text/javascript">
            var path = '{{ path }}';
        </script>
        <script src="/js/libraries/jquery.min.js"></script>
        <script src="/js/pubsub.js"></script>
        <script type="text/javascript" src="/js/base/operation_error.js"></script>
        {% if user is not empty %}
            <script src="http://localhost:3000/socket.io/socket.io.js"></script>
            <script type="text/javascript" src="/js/base/groups_invitations.js"></script>
            <script type="text/javascript" src="/js/base/notifications.js"></script>
            <script type="text/javascript">
                var login = '{{ user.login }}';
            </script>
        {% else %}
            <script type="text/javascript" src="/js/base/login_register.js"></script>
        {% endif %}
        {% block pre_endbody %}{% endblock %}
        {% block endbody %}{% endblock %}
    </body>
</html>
