{% extends 'base/base.html.twig' %}

{% block title %}{% endblock %}
{% block content %}

    <div style="position: fixed; float: left; width: 200px; min-height: 500px; overflow: auto;">
        <a href="{{ path }}{{ user.login }}">Profil</a><br />
        <a href="{{ path }}settings">Ustawienia Profilu</a><br />
        <a href="{{ path }}my-contests">Moje konkursy</a><br />
        <a href="{{ path }}contests">Wszystkie konkursy</a>
        <div style="text-align: center; font-size: 25px; background-color: rgb(235, 235, 235); width: 100%; height: 30px;">
            GRUPY
        </div>
        <p><a href="{{ path }}groups/create-group">stwórz grupę</a></p>

        {% if groups_list is empty %}
            Nie jesteś członkiem żadnej grupy
        {% else %}
            <div class="groups_list">
            {% for list in groups_list %}
                <a href="{{ path }}groups/{{ list.unique_name }}">{{ list.unique_name }}</a> | {{ list.name }}<br />
            {% endfor %}
            </div>
        {% endif %}
    </div>

    <div style="float: right; width: 500px; margin-right: 200px;">
        {% block panel_content %}

        {% endblock %}
    </div>

    {% include 'include/popout_box.html.twig' %}

{% endblock %}
{% block pre_endbody %}

{% endblock %}
{% block endbody %}{% endblock %}
