body {
    margin: 0;
    font-size: 14px;
}

h1 {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: normal;
}

.wrapper {
    width: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    height: 50px;
    background: #ccc;
    /*position: fixed; */
    top: 0;
    left: 0;
}

.header .logo {
    float: left;
    padding: 13px 0;
    font-size: 20px;
}

.header .logo a {
    text-decoration: none;
    color: #000;
}

.header .account {
    float: right;
    padding: 17px 0;
}

.notifications_container {
    float: left;
    margin-right: 50px;
}

.notifications_container span {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 2px;
    background-color: #999999;
    text-align: center;
    font-size: large;
    color: white;
    cursor: pointer;
}

.header .account a, .header .account .a {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

.content {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 200px;
	display: inline-block;
}

.content a , .content .a {
	text-decoration: underline;
	color: #3300ff;
	cursor: pointer;
}

.footer {
    background: #eee;
}

.footer .container {
    padding: 10px;
    text-align: center;
}

.error {
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 5px;
    margin: 10px 0;
}

.success {
    color: #02d23a;
    border: 1px solid #02d23a;
    padding: 5px;
    margin: 10px 0;
}

.error > p, .success > p {
    margin: 3px 0;
}

.translucent_background { position: fixed; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.7); width: 100%; height: 100%; }
.confirm-wrapper { width: 500px; margin: 170px auto; }
.confirm-container { background-color: #FFF; padding: 20px; border-radius: 4px; text-align: center; }

textarea { resize: none; }

#members_list { width: 100%; margin: 20px 0 0 20px; }
.member_container { text-align: center; float: left; width: 150px; height: 150px; color: white; }
.member_content { font-size: large; font-weight: bold; background-image: url("http://themes.wdfiles.com/local--files/semi-trans/semi-transbgtransparent.png"); } /* potem sie da cos swojego */
.member_details { width: 150px; height: 150px; background-image: url("http://themes.wdfiles.com/local--files/semi-trans/semi-transbgtransparent.png"); } /* potem sie da cos swojego */
.member_info_button { border: 1px solid white; position: absolute; width: 15px; height: 15px; bottom: 0px; right: 0px; background-color: black; cursor: pointer; }
.member_details_header { font-weight: bold; }

.create_group_confirm { text-align: center; }

.profile-menu { float: left; width: 200px; }
.profile-content { float: left; width: 800px; }

.add_contest_image { width: 100px; height: 100px; display: inline-block; background-color: rgb(108, 176, 255); margin-left: 10px; background-size: 50px 50px; }
.add_contest_image input { display: block; width: 100px; height: 100px; opacity: 0; overflow: hidden; }
