{% extends 'base/base.html.twig' %}
{% block title %}Konkurs użytkownika {{ href_data[1] }}{% endblock %}
{% block content %}

    <div style="text-align: center;">
    {% block data %}
        <div style="background-color: rgb(180, 236, 197);">
            {% if basic_data.data.avaible_for == 1 %}
                <p>Ten konkurs został udostępniony dla grup.</p>
            {% endif %}

            {% if basic_data.data.status==2 %}
                <h3>Konkurs został zakończony</h3>
            {% elseif basic_data.data.status==0 %}

                <p>Ten konkurs się jeszcze nie rozpoczął.</p>
                {% if (basic_data.data.contest_type == 3 and unique_data.limit_submission_date == 1) or (basic_data.data.contest_type == 2 and unique_data.method == 1) %}
                    <p class="expand_date_picker a">Rozpocznij konkurs</p>
                {% else %}
                    <p class="start_contest a">Rozpocznij konkurs</p>
                {% endif %}
                <p class="delete_contest a">Usuń konkurs</p>
            {% endif %}
            {% if user.id_user == basic_data.creator_id and basic_data.data.status < 2 %}
                <span class="a settings">Ustawienia</span>
            {% endif %}
        </div>

        {% if basic_data.creator_id == user.id_user and basic_data.data.status == 0 %}
            <div style="background-color: rgb(230, 230, 230); text-align: center; min-height: 150px;">
                {% if banner is not empty %}
                    <img src="{{ path }}img/{{ banner }}"/>
                {% endif %}

                {% if basic_data.data.status == 0 %}
                    {% if banner is not empty %}
                        <button class="delete_contest_banner">Usuń obecny banner</button>
                    {% endif %}
                    <form class="upload_contest_banner">
                        <input type="file" name="contest_banner"> <input type="submit" value="Upload"/>
                    </form>
                    <span class="banner_error_container"></span>
                {% endif %}
            </div>
        {% else %}
            {% if banner is not empty %}
                <div style="background-color: rgb(230, 230, 230); text-align: center; min-height: 150px;">
                    <img src="{{ path }}img/{{ banner }}"/>
                </div>
            {% endif %}
        {% endif %}

        <div style="background-color: rgb(249, 232, 142);">

            {% if basic_data.creator_id == user.id_user %}
                <div style="margin-top: 20px;">
                    {% if basic_data.data.status != 2 %}
                        <span class="switch_title_form a">zmień tytuł</span>
                    {% endif %}
                    <div class="title_wrapper">
                        <h2 class="title_content">{{ data.title | raw }}</h2>
                    </div>
                    <div class="title_form_container" style="display: none; height: 60px;">
                        <form class="title_form">
                            <input type="text" name="title" size="40" placeholder="Tytuł" value="{{ data.title }}"/>
                            <input type="submit" value="Zapisz zmiany" />
                        </form>
                        <div class="title_error_container"></div>
                    </div>
                </div>
            {% else %}
                <div style="margin-top: 20px;">
                    <h2>{{ data.title | raw }}</h2>
                </div>
            {% endif %}

            {% if user.id_user == basic_data.creator_id and basic_data.data.status == 0 %}
                <div style="display: inline-block; margin-right: 20px;">
                    <form class="edit_images">
                        <div style="display: inline-block;">
                            {% if pictures[0] == null %}
                                <div class="add_contest_image">
                            {% else %}
                                <div class="add_contest_image" style="background: url('{{ path }}img/{{ pictures[0]['name'] }}?width=100&height=100'); background-size: 100px 100px;">
                            {% endif %}
                                <input type="file" class="upload_image" name="img1" value="kaczor"/>
                            </div>
                            <div class="clear_input" style="display: none;">Wyczyść zdjęcie</div>
                            {% if pictures[0] != null %}
                                <div>Usuń zdjęcie <input type="checkbox" name="delete_img1" value="delete_img1"></div>
                            {% endif %}
                        </div>
                        <div style="display: inline-block;">
                            {% if pictures[1] == null %}
                                <div class="add_contest_image">
                            {% else %}
                                <div class="add_contest_image" style="background: url('{{ path }}img/{{ pictures[1]['name'] }}?width=100&height=100'); background-size: 100px 100px;">
                            {% endif %}
                                <input type="file" class="upload_image" name="img2" />
                            </div>
                            <div class="clear_input" style="display: none;">Wyczyść zdjęcie</div>
                            {% if pictures[1] != null %}
                                <div>Usuń zdjęcie <input type="checkbox" name="delete_img2" value="delete_img2"></div>
                            {% endif %}
                        </div>
                        <div style="display: inline-block;">
                            {% if pictures[2] == null %}
                                <div class="add_contest_image">
                            {% else %}
                                <div class="add_contest_image" style="background: url('{{ path }}img/{{ pictures[0]['name'] }}?width=100&height=100'); background-size: 100px 100px;">
                            {% endif %}
                                <input type="file" class="upload_image" name="img3" />
                            </div>
                            <div class="clear_input" style="display: none; position: relative;">Wyczyść zdjęcie</div>
                            {% if pictures[2] != null %}
                                <div>Usuń zdjęcie <input type="checkbox" name="delete_img3" value="delete_img3"></div>
                            {% endif %}
                        </div>
                        <div><input type="submit" value="Zmień"/></div>
                    </form>
                    <div class="change_images_error_container"></div>
                </div>
            {% else %}
                <div>
                {% if pictures != null %}
                    <div style="display: inline-block;">
                        {% for pictures in pictures %}
                            <div style="display: inline-block;"><img src="{{ path }}img/{{ pictures.name }}?width=100&height=100" alt="Zdjęcie konkursowe"/></div>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            {% endif %}

            <div style="display: inline-block;">
                {% if basic_data.data.status!=0 %}
                    <div class="contest_info">
                        Data rozpoczęcia: {{ data.start_date}}
                    </div>
                {% elseif basic_data.data.status==0 %}
                    <div class="contest_info">
                        Data utworzenia: {{ data.create_date }}
                    </div>
                {% endif %}

                {% if basic_data.data.status==2 %}
                    <div class="contest_info">
                        Data zakończenia: {{ data.end_date }}
                    </div>
                {% endif %}
                <div class="contest_info">
                    Konkurs użytkownika <a href="{{ path }}profile/{{ data.creator_login }}">{{ data.creator_login }}</a>
                </div>

                <div class="contest_info">
                    Kategoria: {{ data.category_name }}
                </div>

                {% if basic_data.creator_id == user.id_user %}
                    <div style="margin-top: 20px;">
                        {% if basic_data.data.status != 2 %}
                            <div class="switch_description_form a">zmień opis</div>
                        {% endif %}
                        <div class="description_wrapper">
                            <span class="description_content">
                                {% if data.description is null %}
                                    <i>żaden opis nie został ustawiony</i>
                                {% else %}
                                    {{ data.description}}
                                {% endif %}
                            </span>
                        </div>
                        <div class="description_form_container" style="display: none;">
                            <form class="description_form">
                                <textarea name="description" placeholder="brak" rows="10" cols="40" class="description_content">{{ data.description }}</textarea><br />
                                <input type="submit" value="Zapisz zmiany"/>
                            </form>
                            <span class="description_error_container"></span>
                        </div>
                    </div>
                {% else %}
                    <div style="margin-top: 20px;">
                        {{ data.description }}
                    </div>
                {% endif %}

            </div>

        </div>

    {% endblock data %}
    {% block unique_data %}

    {% endblock unique_data %}
    {% block end_data %}
        {% if user is not empty and user.id_user!=basic_data.creator_id %}
            {% if took_part.position == 'a' and took_part.status == 1 %}
                Twoja praca została wyróżniona
            {% else %}
                {% if took_part.position > 0 and took_part.status == 1 %}
                    <div class="contest_info">
                        <h2>Gratulacje, wygrałeś!</h2>
                        {% if data.prize_delivery == 1 %}
                            Nagrodę wyśle ci autor. <br />
                        {% elseif data.prize_delivery == 2 %}
                            Twoja nagroda: {{ prize | raw }} <br />
                        {% endif %}
                        <span class="a leave_opinion">Zostaw opinię o autorze konkursu</span>
                    </div>
                {% elseif took_part is not null and took_part.status == 0 %}
                    {% if basic_data.data.status == 2 %}
                        {% if basic_data.data.contest_type == 2 %}
                            Twoje zgłoszenie nie zostało wylosowane.
                        {% elseif basic_data.data.contest_type == 3 %}
                            Twoje zgłoszenie nie zostało wybrane jako zwycięskie.
                        {% endif %}
                    {% elseif basic_data.data.status > 0 %}
                        {% if basic_data.data.contest_type == 1 %}
                            Wziąłeś już udział w tym konkursie, niestety nie wygrałeś.
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if user is not empty and took_part.position > 0  %}
            {% include 'contest/leave_opinion.html.twig' %}
        {% endif %}

        {% if basic_data.data.status==0 and (basic_data.data.contest_type == 3 and unique_data.limit_submission_date == 1) or (basic_data.data.contest_type == 2 and unique_data.method == 1) %}
            <div class="date_picker_container" style="display: none;">
                <div class="translucent_background">
                    <div class="date_picker" style="width: 300px; height: 180px; background-color: white; margin: 0 auto; margin-top: 100px;">
                    {% if basic_data.data.contest_type == 3 %}
                        <p>Podaj datę, do której będzie możliwe zgłaszanie się do twojego konkurs</p>
                    {% elseif basic_data.data.contest_type == 2 %}
                        <p>Podaj datę, w której odbędzie się automatyczne losowanie</p>
                    {% endif %}
                        <form class="pick_date">
                            <input type="text" name="date" placeholder="mm/dd/yyyy" />
                            <input type="number" name="hour" value="0" min="0" max="23" placeholder="godzina" /> :
                            {% if basic_data.data.contest_type == 3 %}
                                <input type="number" name="minute" class="date_picker_minute" value="0" min="0" max="59" placeholder="minuta" />
                            {% elseif basic_data.data.contest_type == 2 %}
                                <select name="minute" class="date_picker_minute">
                                    <option value="0" selected>00</option>
                                    <option value="30">30</option>
                                </select>
                            {% endif %}
                            <p><input type="submit" value="Rozpocznij konkurs"/></p>
                        </form>
                        <div class="pick_date_error_container"></div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endblock end_data %}
    </div>
{% endblock content %}
{% block pre_endbody %}
    {% if user.id_user == basic_data.creator_id and basic_data.data.status < 2 %}
        {% include 'include/popout_box.html.twig' %}
        {% if basic_data.data.status == 0 %}
            {% include 'include/confirm_box.html.twig' %}
        {% endif %}
    {% endif %}
    <script type="text/javascript">
        var contest_creator_login = '{{ href_data[1] }}',
            contest_link = '{{ href_data[2] }}',
            contestType = {{ basic_data.data.contest_type }};
    </script>
    {% if user is not empty and took_part.position > 0 %}
        <script src="/js/contests/leave_opinion.js"></script>
    {% endif %}
    {% if basic_data.data.status==0 and (basic_data.data.contest_type == 3 and unique_data.limit_submission_date == 1) or (basic_data.data.contest_type == 2 and unique_data.method == 1) %}
        <script type="text/javascript" src="/js/contests/start_contest_with_date_picker.js"></script>
    {% else %}
        {% if basic_data.creator_id == user.id_user and basic_data.data.status == 0 %}
        <script type="text/javascript" src="/js/contests/start_contest.js"></script>
        {% endif %}
    {% endif %}
    {% if user.id_user == basic_data.creator_id and basic_data.data.status < 2 %}
        <script type="text/javascript" src="/js/include/popout_box.js"></script>
        {% if basic_data.data.status == 0 %}
            <script type="text/javascript" src="/js/contests/before_start_settings.js"></script>
            <script type="text/javascript" src="/js/contests/contest_images.js"></script>
            <script type="text/javascript" src="/js/contests/delete_contest.js"></script>
        {% else %}
            <script type="text/javascript">
                function changePrizes(e) {
                    return null;
                }
                function changeCategory() {
                    return null;
                }
            </script>
        {% endif %}
        <script type="text/javascript" src="/js/contests/basic_edit.js"></script>
        <script type="text/javascript" src="/js/contests/settings.js"></script>
    {% endif %}
{% endblock %}
{% block endbody %}{% endblock %}
