{% extends 'contest/contest_base.html.twig' %}

{% block unique_data %}

    {% if basic_data.creator_id == user.id_user %}
        {% set disable = 'disabled' %}
    {% endif %}

    <div style="background-color: rgb(240, 173, 173);">

        {% if unique_data.status == 0 %}
            {% if user is not empty %}
                <p>Zgłosiło się już {{ count_applications }} osób.</p>
                {% if (took_part is empty and basic_data.data.status == 1) or basic_data.creator_id == user.id_user %}
                    {% if unique_data.method == 1 %}
                        <h3>Do rozpoczęcia losowania:</h3>
                        <div id="countdown" style="font-size: 25px; font-weight: bold; margin-top: 20px;"></div>
                    {% elseif unique_data.method == 3 %}
                        Losowanie rozpocznie się, gdy zgłosi się {{ unique_data.number_of_applications }} osób. <br />
                    {% endif %}

                    <div class="take_part_error_container"></div>
                    {% if unique_data.requirement == 1 %}
                        <hr>
                        <table style="width: 100%;">
                            <tr style="height: 50px;">
                                <td rowspan="3" style="width: 40%;"><img src="{{ path }}images/defaults/select_image.png" alt="select_image"/></td>
                                <td>
                                    <form enctype="multipart/form-data" class="take_part_image">
                                        <input type="file" name="take_part_image" class="select_image" {{ disable }}> <input type="submit" value="Wyślij zgłoszenie" {{ disable }} />
                                    </form>
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="color: #797979;">
                                    Plik z roszerzeniem PNG, JPG lub GIF o maksymalnym rozmiarze 1 MB. <br />
                                    Maksymalne wymiary 1000x1000 px
                                </td>
                            </tr>
                        </table>
                    {% elseif unique_data.requirement == 2 %}
                        <hr>
                        <div>
                            Link do filmu (YouTube) <br />
                            <form class="take_part_video">
                                <input type="text" name="take_part_video" size="20" {{ disable }} />
                                <input type="submit" value="Wyślij zgłoszenie" {{ disable }} />
                            </form>
                        </div>
                    {% elseif unique_data.requirement == 3 %}
                        <hr>
                        <div>
                            Tekst <br />
                            <form class="take_part_text">
                                <textarea name="take_part_text"></textarea>
                                <input type="submit" value="Wyślij zgłoszenie" {{ disable }} />
                            </form>
                        </div>
                    {% elseif unique_data.requirement == 4 %}
                        <hr>
                        <div>
                            <form class="take_part_file">
                                <input type="file" name="take_part_file" {{ disable }} />
                                <input type="submit" value="Wyślij zgłoszenie" {{ disable }} />
                            </form>
                        </div>
                    {% elseif unique_data.requirement is null %}
                        <button class="take_part">Zapisz się do losowania</button>
                    {% endif %}

                    {% if basic_data.data.status==1 and unique_data.status == 0 and unique_data.method==2 and user.id_user == basic_data.creator_id %}
                        <button class="start_draw">Losuj</button>
                    {% endif %}
                {% elseif took_part.status == 0 and basic_data.data.status == 1 %}
                    Zgłosiłeś już się do tego konkursu. Czekaj na jego rozstrzygnięcie.
                {% endif %}
            {% elseif user is empty and basic_data.data.status == 1 %}
                Aby wziąć udział w tym konkursie musisz się zalogować.
            {% endif %}
        {% elseif unique_data.status == 1 %}
            {% if user.id_user == basic_data.creator_id %}
                <h1>Zatwierdź zwycięzców lub wylosuj nowych, jeśli wylosowane osoby nie spełniły wymagań konkursowych</h1>

                {% for application in winning_applications %}
                    <div data-id="{{ application.id_application }}" style="display: inline-block;">
                        {{ application.login }} <br />

                        <button class="repeat_draw">Wylosuj inną osobę</button><br />

                        {% if application.content.picture is defined %}
                            <div style="background: url('{{ path }}img/{{ application.content.picture }}?height=100'); background-repeat: no-repeat; width: 200px; height: 200px;"></div>
                        {% elseif application.content.video is defined %}
                            <div style="background: url('http://img.youtube.com/vi/{{ application.content.video }}/0.jpg'); background-size: 100% 100%; background-repeat: no-repeat; width: 200px; height: 200px;"></div>
                        {% elseif application.content.text is defined %}
                            <div style="background-color: white; width: 200px; height: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 25px;">{{ application.content.text }}</div>
                        {% elseif application.content.files is defined %}
                            <div style="background-color: white; width: 100%; height: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 25px;">
                                <ul>
                                {% for file in application.content.files %}
                                    <li><a href="{{ path }}download/{{ file.name }}">{{ file.original_name }}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div> |
                {% endfor %}
                <h2>Czas na wylosowanie nowych osób</h2>
                <div id="countdown" style="font-size: 25px; font-weight: bold; margin-top: 20px;"></div>

                <p><button class="confirm_winners">Zatwierdź zwycięzców</button></p>

            {% else %}
                <p>Oczekiwanie na zatwierdzenie losowania przez autora</p>
            {% endif %}
        {% elseif unique_data.status == 2 %}

            {% if winning_applications is not empty %}
                <h1>Zwycięzcy</h1>
                {% for application in winning_applications %}
                    <div data-id="{{ application.id_application }}" style="display: inline-block;">
                        {{ application.login }} <br />
                    </div> |
                {% endfor %}
            {% else %}
                <h1>Żadna osoba nie została wylosowana</h1>
            {% endif %}

        {% endif %}

    </div>

{% endblock %}
{% block endbody %}
    {% if user is not empty and took_part is empty and basic_data.data.status == 1 %}
        <script type="text/javascript" src="/js/contests/draw.js"></script>
    {% endif %}
    {% if unique_data.method == 1 %}
        <script type="text/javascript">
            var finish_date = '{{ unique_data.date }}';
        </script>
        <script type="text/javascript" src="/js/libraries/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="/js/contests/countdown_timer.js"></script>
    {% endif %}
    {% if user.id_user == basic_data.creator_id and unique_data.status == 0 and unique_data.method == 2 and basic_data.data.status == 1 %}
        <script type="text/javascript">
            $('.start_draw').click(function(){
                $.ajax({
                    url: path+contest_creator_login+'/'+contest_link+'/start-draw',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        start: true
                    },
                    success: function(result) {
                        if (result['status']=='error') {
                            operation_error();
                        }
                        else {
                            location.reload();
                        }
                    },
                    complete: function(xhr, data) {
                        if (xhr.status == 404) {
                            operation_error();
                        }
                    }
                });
            });
        </script>
    {% endif %}
    {% if user.id_user == basic_data.creator_id and unique_data.status == 1 %}
        <script type="text/javascript">
            $('.repeat_draw').click(function(){
                var application_id = $(this).parent().data('id');

                $.ajax({
                    url: path+contest_creator_login+'/'+contest_link+'/start-draw',
                    type: 'POST',
                    data: {
                        application_id: application_id
                    },
                    success: function() {
                        location.reload();
                    },
                    complete: function(xhr, data) {
                        if (xhr.status == 404) {
                            operation_error();
                        }
                    }
                });
            });

            $('.confirm_winners').click(function(){
                $.ajax({
                    url: path+contest_creator_login+'/'+contest_link+'/confirm-draw',
                    type: 'POST',
                    data: {
                        confirm_draw: true
                    },
                    success: function() {
                        location.reload();
                    },
                    complete: function(xhr, data) {
                        if (xhr.status == 404) {
                            operation_error();
                        }
                    }
                });
            });
        </script>
    {% endif %}
    <script type="text/javascript" src="/js/libraries/jquery.countdown.min.js"></script>
    <script type="text/javascript">
        var finish_date = '{{ unique_data.date }}';
    </script>
    <script type="text/javascript" src="/js/contests/countdown_timer.js"></script>
{% endblock %}
