{% extends 'contest/contest_base.html.twig' %}

{% block unique_data %}

    {% if basic_data.creator_id == user.id_user %}
        {% set disable = 'disabled' %}
    {% endif %}

    <div style="background-color: rgb(240, 173, 173);">

        <div class="contest_info">
            Pytanie: {{ unique_data.question }}
        </div>

        {{ number_of_participants }} użytkowników udzieliło niepoprawnej odpowiedzi.<br />

        {% if user.id_user == basic_data.creator_id %}
            <div class="contest_info">
                {% if data.prize_delivery == 1 %}
                    {% for winners_logins in winners_logins %}
                        {{ winners_logins.position }} miejsce: {{ winners_logins.login }} (<a href="{{ path }}messages/{{ winners_logins.login }}/new">napisz wiadomość</a> aby wysłać nagrodę)<br />
                    {% endfor %}
                {% else %}
                    {% if basic_data.data.number_of_winners == 1 %}
                        Zwycięzca:
                        {% for winner in winners_logins %}
                            <a href="{{ path }}profile/{{ winners_logins.login }}">{{ winner.login }}</a><br />
                        {% endfor %}
                    {% elseif basic_data.data.number_of_winners > 1 %}
                        {% for winner in winners_logins %}
                            {{ winner.position }} miejsce: <a href="{{ path }}profile/{{ winners_logins.login }}">{{ winner.login }}</a><br />
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}

        {% if basic_data.data.status == 2 %}
            <div class="contest_info">
                Poprawna odpowiedź: {{ unique_data.answer }}
            </div>
        {% else %}
            Pozostałe nagrody: <br />
            {% for prizes_left in prizes_left %}
                {{ prizes_left }} miejsce <br />
            {% endfor %}
        {% endif %}

        {% if user is not empty and basic_data.data.status<2 and took_part is empty %}
            <button class="take_part" {{ disable }}>Weź udział</button>
        {% endif %}

    </div>

    {% if user is not empty and basic_data.data.status==1 and user.id_user!=basic_data.creator_id and took_part is empty %}
        <div class="take_part_container" style="display: none;">
            <div class="translucent_background">
                <div style="width: 600px; position: relative; height: 300px; margin: 150px auto; background-color: #FFF; padding: 20px; border-radius: 4px;">
                    <div class="close_window" style="position: absolute; top: 2px; right: 2px; color: rgb(85, 85, 85); cursor: pointer;">X</div>
                    <h2>{{ data.title }}</h2>

                    {{ number_of_participants }} użytkowników udzieliło niepoprawnej odpowiedzi. <br /><br />

                    {{ unique_data.question }} <br />

                    <form class="answer_form">
                        {% if basic_data.number_of_winners != 1 %}
                            Miejsce:
                            <select name="select_prize">
                            {% for prizes_left in prizes_left %}
                                <option value="{{ prizes_left }}">{{ prizes_left }}</option>
                            {% endfor %}
                            </select>
                        {% endif %}
                        <input type="text" name="answer" placeholder="{{ unique_data.answer_form }}" /><br />
                        <div style="width: 80%; margin: 0px auto; color: rgb(85, 85, 85); font-size: 10px;">Pamiętaj aby zastosować się do formy odpowiedzi. Jeśli tego nie zrobisz, twoja poprawna odpowiedź może nie zostać uznana
                        (np. gdy forma odpowiedzi to "Imię Nazwisko", to poprawną odpowiedzią będzie "Jan Kowalski", a nie "Kowalski Jan").</div>
                        <div class="answer_error"></div>
                        <div style="margin-top: 30px;">
                            <input type="submit" value="Wyślij odpowiedź"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block endbody %}
    {% if user is not empty and basic_data.data.status==1 and user.id_user!=basic_data.creator_id %}
        <script src="/js/contests/first_few.js"></script>
    {% endif %}
{% endblock %}
