<div class="leave_opinion_container" style="display: none;">
    <div class="translucent_background">
        <div style="width: 500px; position: relative; min-height: 190px; margin: 150px auto; background-color: #FFF; padding: 20px; border-radius: 4px; text-align: center;">
            <div class="close_window" style="position: absolute; top: 2px; right: 2px; color: rgb(85, 85, 85); cursor: pointer;">X</div>

            <h3>Zostaw opinię o użytkowniku {{ href_data[1] }}</h3>

            <div style="width: 80%; margin: 0px auto; color: rgb(85, 85, 85); font-size: 10px;">
                Pamiętaj, że serwis Qtbat.com nie zapewnia dostarczenia nagrody osobie, która wygra konkurs, odpowiedzialny jest za to autor konkursu.
                Dzięki twojej opinii inni użytkownicy będą wiedzieć, czy autorowi tego konkursu w przyszłości można zaufać.
            </div>

            <div style="margin-top: 20px;">
                <div class="opinion_message"></div>
                <form class="rate_author">
                    <div>
                        <input type="radio" name="rate" value="1" /> Pozytywna
                        <input type="radio" name="rate" value="0" /> Negatywna
                    </div>
                    <div>
                        <textarea name="comment" placeholder="Zostaw komentarz do swojej oceny"></textarea>
                    </div>
                    <div>
                        <input type="submit" value="Wyślij" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
