{% for application in applications_list %}
    <div style="vertical-align: top; display: inline-block; margin-top: 5px; margin-left: 5px;">
        {% if application.highlight == null %}
            {% set application = application|merge({'highlight': 'null'}) %}
        {% endif %}
        <div class="application" data-id="{{ application.order_number }}" data-highlight="{{ application.highlight }}" style="cursor: pointer; border:
            {% if application.highlight == 'p' %}
                5px solid green;
            {% elseif application.highlight == 'n' %}
                5px solid red;
            {% elseif application.highlight == 's' %}
                5px solid rgb(0, 171, 255);
            {% elseif application.highlight == '1' %}
                5px solid gold;
            {% elseif application.highlight == '2' %}
                5px solid silver;
            {% elseif application.highlight == '3' or application.highlight == '4' %}
                5px solid brown;
            {% elseif application.highlight == 'a' %}
                5px solid rgb(245, 240, 181);
            {% else %}
                2px solid black;
            {% endif %}
            width: 150px; height: 150px; background-color: black;">
            <span style="font-size: 20px; color: white;">{{ application.order_number }}</span>
            {% if application.content.picture is defined %}
                <div style="margin-top: 25px; background: url('{{ path }}img/{{ application.content.picture }}?height=100'); background-repeat: no-repeat; width: 100%; height: 100%;"></div>
            {% elseif application.content.video is defined %}
                <div style="background: url('http://img.youtube.com/vi/{{ application.content.video }}/0.jpg'); background-size: 100% 100%; background-repeat: no-repeat; width: 100%; height: 100%;"></div>
            {% elseif application.content.text is defined %}
                <div style="background-color: white; width: 100%; height: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 25px;">{{ application.content.text }}</div>
            {% elseif application.content.files is defined %}
                <div style="background-color: white; width: 100%; height: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 25px;">
                    <ul>
                    {% for file in application.content.files %}
                        <li>{{ file.original_name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="application_highlights" style="height: 20px; width: 150px; vertical-align: top;">
            {% if href_data[3] != 'awarded-applications' %}
                <span class="positive" style="cursor: pointer; width: 20px; height: 20px; background-color: green; display: inline-block"></span>
                <span class="negative" style="cursor: pointer; width: 20px; height: 20px; background-color: red; display: inline-block"></span>
                {% if href_data[3] == 'applications-list' %}
                    <span class="start_from_here" style="cursor: pointer; width: 20px; height: 20px; background-color: rgb(0, 171, 255); display: inline-block"></span>
                {% endif %}
            {% endif %}
            <span class="remove_highlight" style="cursor: pointer; width: 20px; height: 20px; display: inline-block;">X</span>
        </div>
    </div>
{% endfor %}
