{% extends 'contest/contest_base.html.twig' %}

{% block unique_data %}

    {% if basic_data.creator_id == user.id_user %}
        {% set disable = 'disabled' %}
    {% endif %}

    <div style="background-color: rgb(240, 173, 173);">
        {% if user is not empty %}
            {% if took_part is empty and basic_data.data.status != 2 %}

                {% if basic_data.data.status == 1 and user.id_user == basic_data.creator_id %}
                    <a href="{{ path }}{{ href_data[1] }}/{{ href_data[2] }}/applications-list">Lista wszystkich zgłoszeń</a>
                {% endif %}

                <div id="countdown" style="font-size: 25px; font-weight: bold; margin-top: 20px;"></div>

                {% if allow_applications == true or basic_data.data.status == 0 %}
                    <div class="take_part_error_container"></div>
                    {% if requirements.picture is defined %}
                        <hr>
                        <table style="width: 100%;">
                            <tr style="height: 50px;">
                                <td rowspan="3" style="width: 40%;"><img src="{{ path }}images/defaults/select_image.png" alt="select_image"/></td>
                                <td>
                                    <form enctype="multipart/form-data" class="take_part_image">
                                        <input type="file" name="take_part_image" class="select_image" {{ disable }}> <input type="submit" value="Wyślij zgłoszenie" {{ disable }} />
                                    </form>
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="color: #797979;">
                                    Plik z roszerzeniem PNG, JPG lub GIF o maksymalnym rozmiarze 1 MB. <br />
                                    Minimalne wymiary {{ requirements.picture.min_width }}x{{ requirements.picture.min_height }}<br />
                                    Maksymalne wymiary {{ requirements.picture.max_width }}x{{ requirements.picture.max_height }}
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                    {% if requirements.video is defined %}
                        <hr>
                        <div>
                            Link do filmu (YouTube) <br />
                            <form class="take_part_video">
                                <input type="text" name="take_part_video" size="20" {{ disable }} />
                                <input type="submit" value="Wyślij zgłoszenie" {{ disable }} />
                            </form>
                        </div>
                    {% endif %}
                    {% if requirements.text is defined %}
                        <hr>
                        <div>
                            Tekst <br />
                            <form class="take_part_text">
                                <textarea name="take_part_text"></textarea>
                                <input type="submit" value="Wyślij zgłoszenie" {{ disable }} />
                            </form>
                        </div>
                    {% endif %}
                    {% if requirements.files is defined %}
                        <hr>
                        <div>
                            {% if requirements.files.extensions is defined %}
                                Dopuszczalne rozszerzenia plików: <br />
                                {{ requirements.files.extensions }} <br />
                            {% endif %}
                            <form class="take_part_files">
                                <input type="file" name="take_part_files[]" multiple {{ disable }} />
                                <input type="submit" value="Wyślij zgłoszenie" {{ disable }} />
                            </form>
                        </div>
                    {% endif %}
                {% else %}
                    Możliwość zgłaszania się do tego konkursu już się skończyła.
                {% endif %}
            {% elseif took_part.status == 0 and basic_data.data.status == 1 %}
                Zgłosiłeś już się do tego konkursu. Czekaj na jego rozstrzygnięcie.
            {% endif %}
        {% elseif user is empty and basic_data.data.status == 1 %}
            Aby wziąć udział w tym konkursie musisz się zalogować.
        {% endif %}

        {% if basic_data.data.status == 2 %}
            {% if unique_data.show_winners == 1 or user.id_user == basic_data.creator_id  %}
                <div style="margin-top: 20px;">
                    {% if winning_applications is empty %}
                        Żadne zgłoszenie nie zostało wybrane jako zwycięskie
                    {% else %}
                        {% for application in winning_applications %}
                            <div style="float: left;">
                                {% if application.position == 'a' %}
                                    Praca wyróżniona ({{ application.login }})<br />
                                {% else %}
                                    {{ application.position }} miejsce ({{ application.login }}) <br />
                                {% endif %}

                                {% if application.content.picture is defined %}
                                    <div style="background: url('{{ path }}img/{{ application.content.picture }}?height=100'); background-repeat: no-repeat; width: 200px; height: 200px;"></div>
                                {% elseif application.content.video is defined %}
                                    <div style="background: url('http://img.youtube.com/vi/{{ application.content.video }}/0.jpg'); background-size: 100% 100%; background-repeat: no-repeat; width: 200px; height: 200px;"></div>
                                {% elseif application.content.text is defined %}
                                    <div style="background-color: white; width: 200px; height: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 25px;">{{ application.content.text }}</div>
                                {% elseif application.content.files is defined %}
                                    <div style="background-color: white; width: 100%; height: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 25px;">
                                        <ul>
                                        {% for file in application.content.files %}
                                            <li><a href="{{ path }}download/{{ file.name }}">{{ file.original_name }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
{% block endbody %}
    {% if user.id_user != basic_data.creator_id %}
        <script type="text/javascript" src="/js/contests/select_winner.js"></script>
    {% endif %}
    {% if unique_data.limit_submission_date == 1 and unique_data.submission_date != null and allow_applications == true %}
        <script type="text/javascript">
            var finish_date = '{{ unique_data.submission_date }}';
        </script>
        <script type="text/javascript" src="/js/libraries/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="/js/contests/countdown_timer.js"></script>
    {% endif %}
{% endblock %}
