{% extends 'base/base.html.twig' %}

{% block title %}Lista zgłoszeń{% endblock %}
{% block content %}

    <table>
        <tr>
            <td>
                <a href="{{ path }}{{ href_data[1] }}/{{ href_data[2] }}/applications-list">Wszystkie ({{ count_all }})</a>
            </td>
            <td rowspan="2">
                {% if unique_data.limit_submission_date == 1 and unique_data.submission_date != null and allow_confirm_winners == false %}
                    <div id="countdown" style="font-size: 25px; font-weight: bold; margin-top: 20px;"></div> do możliwości zatwierdzenia zwycięzców
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path }}{{ href_data[1] }}/{{ href_data[2] }}/positive-applications">Poztywne (<span class="count_positive">{{ count_positive }}</span>)</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path }}{{ href_data[1] }}/{{ href_data[2] }}/negative-applications">Negatywne (<span class="count_negative">{{ count_negative }}</span>)</a>
            </td>
            <td>
                {% if allow_confirm_winners == true %}
                    <span class="confirm_winners a" style="font-size: 20px;">ZATWIERDŹ ZWYCIĘZCÓW I ZAKOŃCZ KONKURS</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path }}{{ href_data[1] }}/{{ href_data[2] }}/awarded-applications">Wyróżnione (<span class="count_awarded">{{ count_awarded }}</span>)</a>
            </td>
            <td>
                <div class="confirm_winners_container"></div>
            </td>
        </tr>
    </table>

    <div class="applications_list_container" style="margin: auto; width: 600px;">

    </div>

    <div class="application_details" style="display: none;">
    	<div class="translucent_background">
    		<div class="details_container" data-id="null" style="width: 500px; min-height: 450px; background-color: white; margin: 0 auto;">
                <div class="content_container"></div>
                <span class="bonus_details"></span><br />
                Użytkownik: <span class="participant_login"></span><br />

                <form class="application_place">
                    {% for i in 1..basic_data.data.number_of_winners %}
                        <input type="radio" name="place" value="{{ i }}" /> {{ i }} <br />
                    {% endfor %}
                    <input type="radio" name="place" value="a" /> Wyróżnij <br />
                    <input type="submit" value="Zatwierdź" />
                </form>
            </div>
    	</div>
    </div>

{% endblock %}
{% block endbody %}
    <script type="text/javascript">
        var contest_creator_login = '{{ href_data[1] }}',
            contest_link = '{{ href_data[2] }}';
    </script>
    <script type="text/javascript">
        var total_records = {{ records_in_bookmark }},
            records_per_page = 12,
            number_of_pages = Math.ceil(total_records / records_per_page),
            current_page = 1,
            start = {{ start_from_here }},
            update_start = 0;

            load_data(start, current_page);

        function load_data(start, current_page) {
            $.ajax ({
                type: "POST",
                url: path+contest_creator_login+'/'+contest_link+'/'+'{{ href_data[3] }}'+'/load-applications',
                dataType: "json",
                data: {
                    start: start,
                    current_page: current_page,
                    count_records: total_records
                },
                beforeSend: function() {
                    $('.applications_list_container').append('<div class="loading">Loading...</div>');
                },
                success: function(result){
                    update_start = result['start'];
                    $('.applications_list_container .loading').remove();
                    $('.applications_list_container').append(result['applications_list']);
                },
                complete: function(xhr, data) {
                    if (xhr.status == 404) {
                        operation_error();
                    }
                }
            });
        }

        current_page = 2;

        $(window).scroll(function(){
            if ($(window).scrollTop()+window.innerHeight == $(document).height()) {

                if (current_page <= number_of_pages) {

                    start = update_start;

                    load_data(start, current_page);
                    current_page++;
                }
            }
        });
    </script>
    <script type="text/javascript" src="/js/contests/select_winner_applications.js"></script>
    {% if unique_data.limit_submission_date == 1 and unique_data.submission_date != null and allow_confirm_winners == false %}
        <script type="text/javascript">
            var finish_date = '{{ unique_data.submission_date }}';
        </script>
        <script type="text/javascript" src="/js/libraries/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="/js/contests/countdown_timer.js"></script>
    {% else %}
        {% include 'include/confirm_box.html.twig' %}
    {% endif %}
{% endblock %}
