<div>
    <h3>Udostępnij dla</h3>
    <form class="contest_availability">
        <div>
            {% if groups_list is not empty %}
                <input type="radio" name="avaible_for" value="groups" class="avaible_for_groups" /> Dla grupy
            {% else %}
                <span style="color: rgb(152, 152, 152);">Dla grupy</span>
            {% endif %}
            |
            <input type="radio" name="avaible_for" value="normal" class="avaible_as_normal"> Dla wszystkich
        </div>

        {% if groups_list is not empty %}
            <div class="select_groups" style="display: none; margin-top: 20px;">
                Wybierz grupy:<br />
                <div class="groups_list">
                    <select name="select_groups" size="3" class="groups_selection" multiple>
                    {% for groups_list in groups_list %}
                        <option value="{{ groups_list.id_group }}"
                        {% if groups_list.is_shared_for_contest == true %}
                            selected
                        {% endif %}
                        >{{ groups_list.unique_name }} | {{ groups_list.name }}</option>
                    {% endfor %}
                    </select><br />
                </div>
            </div>
        {% endif %}
        <input type="submit" value="Zapisz zmiany"/>
    </form>
    <div class="contest_availability_error_container"></div>
</div>

{% if basic_data.data.status == 0 %}
    <hr>

    <div>
        <h3>Kategoria</h3>
        <form class="edit_contest_category">
            <select name="select_category">
                {% for category in categories %}
                    <option value="{{ category.id_category }}"
                    {% if category.name == data.category_name %}
                        selected
                    {% endif %}
                    >{{ category.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Zapisz zmiany"/>
        </form>
        <div class="category_error_container"></div>
    </div>

    <hr>

    <div>
        <h3>Nagrody</h3>

        {% if data.prize_delivery == 2 %}
            Obecne nagrody: <br />
            {% for key, value in data.prize %}
                {% if basic_data.data.contest_type == 2 %}
                    {{ value | raw }} <br />
                {% else %}
                    {{ key + 1 }} miejsce: {{ value | raw }} <br />
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="prize_error_container"></div>

        <form class="change_prizes">
            <input type="text" name="number_of_winners" placeholder="Ilość zwycięzców" class="number_of_winners" />

            <div style="margin-top: 20px;">
                W jaki sposób chcesz, aby nagroda została dostarczona? <br />
                <input type="radio" name="delivery" value="automatic" class="automatic_delivery"/> Automatycznie <br />
                <input type="radio" name="delivery" value="by_author" class="delivery_by_author" /> Sam ją dostarczę (w przypadku np. jakiegoś przedmiotu)
            </div>

            <div class="prize" style="display: none; margin-top: 20px;">
                <span class="a refresh_prizes">(odśwież)</span><br />
                <span class="prize_statement">Nagroda (np. kod do gry), która wyśle się automatycznie w momencie, w którym ktoś wygra.<br /></span>
                <div class="prizes">
                </div>
            </div>
            <input type="submit" value="Zapisz zmiany"/>
        </form>
    </div>
{% endif %}
