<div class="confirm_box" style="display: none;">
	<div class="translucent_background">
		<div class="confirm-wrapper">
			<div class="confirm-container">
				<span class="message"></span><br />
				<span class="error_container"></span><br />
				<span class="confirm-buttons"><button id="confirm_accept">Tak</button> <button id="confirm_reject">Nie</button></span>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/include/confirm_box.js"></script>
