<div class="popout_container" style="display: none;">
    <div class="translucent_background">
        <div style="width: 500px; overflow: auto; margin-top: 50px; position: relative; min-height: 40px; max-height: 90%; margin: auto; background-color: #FFF; padding: 20px; border-radius: 4px; text-align: center;">
            <div class="close_window" style="position: absolute; top: 2px; right: 2px; color: rgb(85, 85, 85); cursor: pointer;">X</div>

            <div class="container_content"></div>
        </div>
    </div>
</div>
