{% extends 'base/base.html.twig' %}

{% block title %}Start{% endblock %}
{% block content %}

    <div style="width: 100%; height: 250px; margin-top: 10px;">
        <div style="float: left; width: 300px; word-wrap: break-word;">
            Zachęcający opis i obrazki
        </div>

        <div style="float: left; width: 300px; margin-left: 300px;">
            <h1>Rejestracja</h1>
            <form class="register_form">
                <input type="text" name="login" placeholder="Login">*<br>
                <input type="text" name="email" placeholder="Adres e-mail">*<br>
                <input type="password" name="password" placeholder="Hasło">*<br>
                <input type="password" name="repeatpassword" placeholder="Powtórz hasło">*<br>
                <input type="text" name="name" placeholder="Imię i nazwisko"><br>
                <input type="text" name="location" placeholder="Lokalizacja"><br>
                <input type="checkbox" name="rules" value="1"> Akceptuję regulamin<br>
                <input type="submit" value="Zarejestruj">
            </form>
            <div class="register_message"></div>
        </div>
    </div>

    {% if popular_contests is not null %}
        <div style="width: 100%; height: 250px; background-color: rgb(155, 187, 238)">
                <h1>Popularne konkursy</h1>
                {% for contest in popular_contests %}
                    <div style="display: inline-block;">
                        <table>
                            <tr>
                                <td>
                                    {% if contest.img_name == NULL %}
                                        <img src="{{ path }}images/defaults/no_image.png" style="width: 100px; height: 100px;"/>
                                    {% else %}
                                        <img src="{{ path }}img/{{ contest.img_name }}?height=100"/>
                                    {% endif %}
                                </td>
                                <td>{{ contest.creator_login }}</td>
                                <td>{{ contest.category_name }}</td>
                                <td><a href="{{ path }}{{ contest.creator_login }}/{{ contest.link }}">{{ contest.title | raw }}</a></td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
        </div>
    {% endif %}

{% endblock %}
{% block endbody %}

{% endblock %}
