{% extends 'groups/groups_base.html.twig' %}

{% block title %}{{ data.unique_name }} - panel administracyjny{% endblock %}
{% block group_content %}

    Nazwa: {{ data.unique_name }} <br />

    <hr>

    Tytuł:
        <form class="name_form">
            <input type="text" placeholder="Nowy tytuł" name="name" value="{{ data.name }}"/><br />
            <input type="submit" value="Zapisz zmiany"/>
        </form>
        <span class="change_name_error_container"></span>
    <br />

    <hr>

    Opis:
        <form class="description_form">
            <textarea name="description" id="description" rows="12" cols="45"/>{{ data.description | raw }}</textarea><br />
            <input type="submit" value="Zapisz zmiany"/>
        </form>
    <br />

    <hr>

    Grupa
        {% set type_0 = null %}
        {% set type_1 = null %}
        {% if data.type == 0 %}
            {% set type_0 = 'checked="checked"' %}
        {% elseif data.type == 1 %}
            {% set type_1 = 'checked="checked"' %}
        {% endif %}
        <form class="type_form">
            <input type="radio" name="type" value="0" {{ type_0 }} title="Grupa widoczna jest dla każdego i każdy może do niej dołączyć."/> Otwarta
            <input type="radio" name="type" value="1" {{ type_1 }} title="Grupa jest prywatna i dołączyć do niej mogą tylko osoby zaproszone."/> Zamknięta<br />
            <input type="submit" value="Zapisz zmiany"/>
        </form>
        <span class="type_error_container"></span>
    <br />

    <hr>

    <button class="delete_group">Usuń grupę</button>

{% endblock %}
{% block endbody %}
	<script src="/js/groups/administrator_panel.js"></script>
{% endblock %}
