{% extends 'groups/groups_base.html.twig' %}

{% block title %}{{ data.unique_name }} - konkursy{% endblock %}
{% block group_content %}

	<h3>Konkursy</h3>
	<a href="{{ path }}groups/{{ data.unique_name }}/ongoing-contests">Trwające konkursy</a><br />
	<a href="{{ path }}groups/{{ data.unique_name }}/finished-contests">Zakończone konkursy</a><br />
	<table>
		<div class="contests_list"></div>
	</table>

{% endblock %}
{% block endbody %}
	{% if user_info.rank == 1 %}
		<script type="text/javascript" src="/js/groups/attach_detach_contests.js"></script>
	{% else %}
		<script type="text/javascript">
			function attachDetach() {
				return null;
			}
		</script>
	{% endif %}
	<script type="text/javascript">
		{% if contests_list_href == null %}
			var href = '';
		{% else %}
			var href = '{{ contests_list_href }}';
		{% endif %}
	</script>
	<script type="text/javascript" src="/js/groups/load_group_contests.js"></script>
{% endblock %}
