{% extends 'base/base.html.twig' %}

{% block title %}Stwórz grupę{% endblock %}
{% block content %}

	<div class="error_container"></div>

	<form class="create_group_form">
		<table>
		<tr>
			<td>Unikalna nazwa:</td>
			<td><input type="text" placeholder="2-30 znaków" name="unique_name"/> (Pamiętaj, że później nie będziesz już jej mógł zmienić!)</td>
		</tr>
		<tr>
			<td>Nazwa:</td>
			<td><input type="text" placeholder="2-80 znaków" name="name"/></td>
		</tr>
		<tr>
			<td>Opis: </td> <!-- TODO Styling description - edytor z prywatnych wiadomości. -->
			<td><textarea name="description" cols="80" rows="20"></textarea></td>
		</tr>
		<tr>
			<td>Typ</td>
			<td><input type="radio" name="type" value="0" checked="checked"> Otwarta <input type="radio" name="type" value="1"> Zamknięta
		</tr>
		</table>
		<div class="create_group_confirm"><input type="submit" class="create_group_button" value="Stwórz grupę"/></div>
	</form>

{% endblock %}
{% block endbody %}
	<script src="/js/groups/create_group.js"></script>
{% endblock %}
