{% extends 'base/base.html.twig' %}
{% block title %}{% endblock %}
{% block content %}

    <ul>
        <li><a href="{{ path }}groups/{{ data.unique_name }}">Konkursy</a></li>
        {% if user_info.rank == 1 %}
            <li><a href="{{ path }}groups/{{ data.unique_name }}/administrator-panel">Panel administracyjny</a></li>
        {% endif %}
        <li><a href="{{ path }}groups/{{ data.unique_name }}/members-list">Członkowie</a></li>
    </ul>

    <div style="float: left;">
        {% block group_content %}{% endblock group_content %}
    </div>

    <div style="float: left; position: fixed; margin-left: 700px;">
        <div>{{ data.unique_name }} | {{ data.name }}</div>


    	<div>Data utworzenia: {{ data.create_date }}</div>

        {% if href != 'administrator-panel' %}
        	<p>
        		Grupa
        			{% if data.type == 0 %}
        				otwarta
        			{% else %}
        				zamknięta
        			{% endif %}
        	</p>

        	<p>
        		Opis:<br />
        		{% if data.description == null %}
        			brak opisu
        		{% else %}
        			{{ data.description | raw }}
        		{% endif %}
        	</p>

            {% if user_info.rank == 0 %}
                Członek
            {% elseif user_info.rank == 1 %}
                Administrator
            {% endif %}
            <br />
            {% if user is not empty %}
        		{% if allow_join == true %}
        			<p><button class="join_group">Dołącz do grupy</button></p>
                {% else %}
                    <button class="leave_group">Opuść grupę</button><br />
        		{% endif %}
        	{% endif %}
        {% endif %}

        {% if user_info.rank == 1 %}
            Dodaj użytkownika do grupy:<br />
            <form class="add_member">
                <input type="text" name="login"/>
                <input type="submit" value="Zaproś"/>
            </form>
            <div class="add_member_message"></div>
        {% endif %}

        <hr>

        Lista członków grupy<br />

        Wszyscy ({{ count.group_members }}) <br />
        Administratorzy ({{ count.admins }})<br />
    </div>
{% endblock content %}
{% block pre_endbody %}
    {% include 'include/confirm_box.html.twig' %}
    <script type="text/javascript">
        var group_name = '{{ data.unique_name }}';
        {% if user is not empty and allow_join == false %}
            var count_group_members = {{ count.group_members }};
        {% endif %}
    </script>
    {% if user is not empty %}
        {% if allow_join == true %}
            <script type="text/javascript" src="/js/groups/join_group.js"></script>
        {% else %}
            <script type="text/javascript" src="/js/groups/leave_group.js"></script>
        {% endif %}
    {% endif %}
    {% if user_info.rank == 1 %}
		<script type="text/javascript" src="/js/groups/add_member.js"></script>
	{% endif %}
    {% endblock pre_endbody  %}
{% block endbody %}{% endblock endbody %}
