{% if group_contests is empty %}
    Żadne konkursy nie są udostępnione dla tej grupy
{% else %}
    {% for contest in group_contests %}
        {{ contest.id_contest }}
        <div data-id="{{ contest.id_contest }}"
        {% if contest.attached == true %}
            style="border: 3px solid orange;"
        {% endif %}
        >
            <tr>
                <td>
                    {% if contest.img_name == NULL %}
                        <img src="{{ path }}images/defaults/no_image.png" style="width: 100px; height: 100px;"/>
                    {% else %}
                        <img src="{{ path }}img/{{ contest.img_name }}?height=100"/>
                    {% endif %}
                </td>
                <td>
                    {% if contest.type == 1 %}
                        {% if contest.number_of_winners == 1 %}
                            Kto pierwszy ten lepszy
                        {% else %}
                            {% if contest.number_of_winners < 5 and contest.number_of_winners > 1 %}
                                Pierwsze {{ contest.number_of_winners }} osoby
                            {% else %}
                                Pierwsze {{ contest.number_of_winners }} osób
                            {% endif %}
                        {% endif %}
                    {% elseif contest.type == 2 %}
                        Losowanie
                    {% elseif contest.type == 3 %}
                        Autor wybiera zwycięzce
                    {% elseif contest.type == 4 %}
                        Turniej
                    {% endif %}
                </td>
                <td>{{ contest.creator_login }}</td>
                <td>{{ contest.category_name }}</td>
                <td><a href="{{ path }}{{ contest.creator_login }}/{{ contest.link }}">{{ contest.title | raw }}</a></td>
                <td>
                    {% if contest.status == 1 %}
                        Trwa
                    {% elseif contest.status == 2 %}
                        Zakończony
                    {% endif %}
                </td>
                {% if user_info.rank == 1 %}
                    <td>
                        {% if contest.attached == false %}
                            <button class="attach_contest">Przypnij</button>
                        {% else %}
                            <button class="detach_contest">Odczep</button>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        </div>
    {% endfor %}
{% endif %}
