{% if is_empty == true %}
	Nie ma takiego użytkownika w tej grupie.
{% else %}
	{% for list in members_list %}
		{% if list.rank == 0 %}
			{% set list = list|merge({'rank': 'Członek'}) %}
		{% elseif list.rank == 1 %}
			{% set list = list|merge({'rank': 'Administrator'}) %}
		{% endif %}

		{% if user_info.rank == 1 %}
			{% set rank_admin_checked = null %}
			{% set rank_member_checked = null %}
			{% if list.rank == 'Administrator' %}
				{% set rank_admin_checked = 'checked="checked"' %}
				{% set delete_button = null %}
			{% elseif list.rank == 'Członek' %}
				{% set rank_member_checked = 'checked="checked"' %}
				{% set delete_button = '<button class="delete_member_button">Usuń Członka</button>'%}
			{% endif %}
			{% set admin_tools ='
				<form class="edit_member_form">
				<input type="radio" name="rank" value="1" ' ~ rank_admin_checked ~ '/> Administrator<br>
				<input type="radio" name="rank" value="0" ' ~ rank_member_checked ~ '/> Członek<br>
				<input type="submit" value="Zapisz zmiany"/>
				</form>' ~ delete_button %}
			{% set rank = null %}
		{% elseif user_info.rank == 0 %}
			{% set rank = list.rank %}
			{% set admin_tools = null %}
		{% endif %}

		{% if list.id_user == user.id_user %}
			<div data-id="{{ list.id_user }}" class="member_container" style="margin: 0 0 10px 10px; position: relative; float: left; width: 150px; height: 150px;
			{% if avatar_path[list.id_user] == null %}
				background-image: url('{{ path }}images/defaults/avatar.png');">
			{% else %}
				background-image: url('{{ path }}img/{{ avatar_path[list.id_user] }}?height=150');">
			{% endif %}
				<section class="member_content">{{ list.login }}</section>
				<section style="display: none;" class="member_details"><header class="member_details_header">Data dołączenia</header> {{ list.joined_date }} <header class="member_details_header">Ranga</header> {{ list.rank }}</section>
				<div class="member_info_button"></div>
			</div>
		{% else %}
			<div data-id="{{ list.id_user }}" class="member_container" style="margin: 0 0 10px 10px; position: relative; float: left; width: 150px; height: 150px;
			{% if avatar_path[list.id_user] == null %}
				background-image: url('{{ path }}images/defaults/avatar.png');">
			{% else %}
				background-image: url('{{ path }}img/{{ avatar_path[list.id_user] }}?height=150');">
			{% endif %}


			{#<span style="font-size: 20px; color: blue;">{{ list.id_user }}
				{% if list.rank == 'Administrator' %}
					admin
				{% endif %}
			</span>#}


				<section class="member_content">{{ list.login }}</section>
				<section style="display: none;" class="member_details"><header class="member_details_header">Data dołączenia</header> {{ list.joined_date }} <header class="member_details_header">Ranga</header> {{ rank }} {{ admin_tools|raw }}</section>
				<div class="member_info_button"></div>
			</div>
		{% endif %}
	{% endfor %}
{% endif %}
