{% extends 'groups/groups_base.html.twig' %}

{% block title %}{{ data.unique_name }} - lista członków{% endblock %}
{% block group_content %}

	<form name="search" action="" method="post">
	<input type="text" name="search_login" class="search_member_input"/>
	</form>

	<div class="members_list" style="width: 500px;">
	</div>

{% endblock %}
{% block endbody %}
	<script type="text/javascript" src="/js/groups/members_list.js"></script>
	{% if user_info.rank == 1 %}
		<script type="text/javascript" src="/js/groups/edit_member.js"></script>
	{% else %}
		<script type="text/javascript">
			function editMember() {
				return null;
			}
		</script>
	{% endif %}
	<script type="text/javascript">
		var start,
			updateStart,
			clear = false,
			searchValue = '',
			stop = false;
	</script>
	<script type="text/javascript" src="/js/groups/load_members.js"></script>
	<script type="text/javascript">
		loadMembers.loadData(0, searchValue, false);
	</script>
{% endblock %}
