{% extends 'base/base.html.twig' %}

{% block title %}Skrzynka odbiorcza{% endblock %}
{% block content %}
    {% if with is not empty %}
            <h1>Odebrane z użytkownikiem {{ with }}</h1>
            <a href="{{ path }}messages/{{ with }}">Odebrane z {{ with }}</a> | <a href="{{ path }}messages/{{ with}}/sent">Wysłane z {{ with }}</a><br>
        {% else %}
            <h1>Lista wiadomości odebranych</h1>
    {% endif %}
    {% if with is empty %}
        <a href="{{ path }}messages">Skrzynka odbiorcza</a> | <a href="{{ path }}messages/sent">Wysłane</a>
    {% else %}
        <a href="{{ path }}messages">Powrót do skrzynki odbiorczej</a>
    {% endif %}
    <br><br>
    <table class="pm_list" style="width: 500px;">
        <tr>
            <th>Od</th>
            <th>Data</th>
            <th>Temat</th>
            <th>Akcje</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path }}profile/{{ message.sender }}">{{ message.sender }}</a> <a href="{{ path }}messages/{{ message.sender }}">[wiadomości]</a></td>
                <td>{{ message.send_date }}</td>
                <td><span class="show-message" title="Podgląd wiadomości" data-id="{{ message.id_message }}" style="cursor: pointer;">{{ message.topic }}</span></td>
                <td align="center"><span class="delete-message" title="Usuń wiadomość" data-id="{{ message.id_message }}" style="cursor: pointer;">X</span></td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <div id="showMessage" style="display: none;">
        <table>
            <tr><th colspan="2">Pogląd wiadomości <span style="cursor: pointer;" id="hideMessage">[ukryj]</span> <span style="cursor: pointer;" id="replyMessage">[odpowiedz]</span></th></tr>
            <tr><td>Od</td><td id="showSender"></td></tr>
            <tr><td>Data</td><td id="showDate"></td></tr>
            <tr><td>Temat</td><td id="showTopic"></td></tr>
            <tr><td colspan="2" id="showContent"></td></tr>
        </table>
    </div>
    <form id="reply" action="" method="POST">
        <input type="hidden" name="replyTopic" id="replyTopic">
    </form>
{% endblock %}

{% block endbody %}
    <script src="/js/messages/message.js"></script>
    {% if with is empty %}
        <script src="/js/socket/message.js"></script>
    {% endif %}
{% endblock %}
