{% extends 'base/base.html.twig' %}

{% block title %}Wiadomości wysłane{% endblock %}
{% block content %}
    {% if with is not empty %}
        <h1>Wysłane z użytkownikiem {{ with }}</h1>
        <a href="{{ path }}messages/{{ with }}">Odebrane z {{ with }}</a> | <a href="{{ path }}messages/{{ with}}/sent">Wysłane z {{ with }}</a><br>
    {% else %}
        <h1>Lista wiadomości wysłanych</h1>
    {% endif %}
    {% if with is empty %}
        <a href="{{ path }}messages">Skrzynka odbiorcza</a> | <a href="{{ path }}messages/sent">Wysłane</a>
    {% else %}
        <a href="{{ path }}messages">Powrót do skrzynki odbiorczej</a>
    {% endif %}
    <br><br>
    <table style="width: 500px;">
        <tr>
            <th>Do</th>
            <th>Data</th>
            <th>Temat</th>
            <th>Akcje</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path }}profile/{{ message.recipient }}">{{ message.recipient }}</a> <a href="{{ path }}messages/{{ message.recipient }}">[wiadomości]</a></td>
                <td>{{ message.send_date }}</td>
                <td><span class="show-message" title="Podgląd wiadomości" data-id="{{ message.id_message }}" style="cursor: pointer;">{{ message.topic }}</span></td>
                <td align="center"><span class="delete-message" title="Usuń wiadomość" data-id="{{ message.id_message }}" style="cursor: pointer;">X</span></td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <div id="showMessage" style="display: none;">
        <table>
            <tr><th colspan="2">Pogląd wiadomości <span style="cursor: pointer;" id="hideMessage">[ukryj]</span></th></tr>
            <tr><td>Do</td><td id="showSender"></td></tr>
            <tr><td>Data</td><td id="showDate"></td></tr>
            <tr><td>Temat</td><td id="showTopic"></td></tr>
            <tr><td colspan="2" id="showContent"></td></tr>
        </table>
    </div>
{% endblock %}

{% block endbody %}
    <script src="/js/messages/message.js"></script>
{% endblock %}
