{% extends 'base/base.html.twig' %}

{% block title %}Nowa wiadomość prywatna{% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://qtbat.waluk.pl/sceditor/minified/themes/default.min.css">
{% endblock %}

{% block content %}
    <h1>Nowa wiadomość prywatna</h1>
    <a href="{{ path }}messages">Skrzynka odbiorcza</a> | <a href="{{ path }}messages/sent">Wysłane</a>
    <div id="messageStatus"></div>
    <table id="messageAll">
        <tr>
            <td>Do</td>
            <td>{{ to }}</td>
        </tr>
        <tr>
            <td>Temat</td>
            <td><input type="text" name="topic" id="topic" value="{% if replyTopic is not empty %}{{ replyTopic }}{% endif %}"></td>
        </tr>
        <tr>
            <td>Treść</td>
            <td><textarea name="content" id="content" style="width:700px;height:300px;"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button id="sendMessage">Wyślij</button></td>
        </tr>
    </table>
{% endblock %}

{% block endbody %}
    <script>
        function new_message() {
            var message = $(this);
            $.ajax({
                url: '/messages/{{ to }}/new',
                type: 'POST',
                data: {
                    'topic': $('#topic').val(),
                    'content': $('#content').val()
                },
                dataType: 'json',
                success: function(result) {
                    if (result != '') {
                        if (result['status'] == '1') {
                            $('#messageAll').html('');
                            $('#messageStatus').addClass('success');
                        } else {
                            $('#messageStatus').addClass('error');
                        }
                        $('#messageStatus').html(result['message']);
                    }
                }
            });
        }
        $('#sendMessage').click(new_message);
    </script>
{% endblock %}
