{% extends 'base/base.html.twig' %}

{% block title %}Tworzenie konkursu{% endblock %}
{% block content %}

    <form method="post" class="contest_form" enctype="multipart/form-data">
        <div class="contest_form_container" style="text-align: center;">
            <div class="availability_container">
                {% if groups_list is not empty %}
                    <input type="radio" name="avaible_for" value="groups" class="avaible_for_groups" /> Dla grupy
                {% else %}
                    <span style="color: rgb(152, 152, 152);">Dla grupy</span>
                {% endif %}
                |
                <input type="radio" name="avaible_for" value="normal" class="avaible_as_normal"> Dla wszystkich
            </div>

            {% if groups_list is not empty %}
                <div class="select_groups" style="display: none; margin-top: 20px;">
                    Wybierz grupy:<br />
                    <div class="groups_list">
                        <select name="select_groups" size="3" class="groups_selection" multiple>
                        {% for groups_list in groups_list %}
                            <option value="{{ groups_list.id_group }}">{{ groups_list.unique_name }} | {{ groups_list.name }}</option>
                        {% endfor %}
                        </select><br />
                    </div>
                </div>
            {% endif %}

            <div class="type_selection" style="display: none; margin-top: 20px;">
                <input type="radio" name="contest_type" value="first_come_first_served" class="first_come_first_served" /> Kto pierwszy ten lepszy |
                <input type="radio" name="contest_type" value="first_few" class="first_few" /> Pierwsze kilka osób |
                <input type="radio" name="contest_type" value="draw" class="draw" /> Losowanie |
                <input type="radio" name="contest_type" value="select_winner" class="select_winner" /> Wybierz zwycięzce |
                <input type="radio" name="contest_type" value="tournament" class="tournament" /> Turniej
            </div>

            <div class="contest_form_error" style="margin-top: 20px;"></div>

            <div class="contest_form_basic_data" style="display: none; margin-top: 20px;">
                <input class="title" type="text" name="title" size="40" placeholder="Tytuł"/><br />
                Link do konkursu (np. qtbat.com/{{ user.login }}/<span class="link_keyup">link</span>)
                <br />domyślnie qtbat.com/{{ user.login }}/tytuł <br />
                <input class="link" type="text" name="link" placeholder="Link"/><br />
                <textarea name="description" placeholder="Opis"></textarea><br />
                Kategoria
                <select name="select_category">
                    {% for categories in categories %}
                        <option value="{{ categories.id_category }}">{{ categories.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="contest_form_data"></div>

            <div class="contest_form_end_data" style="display: none;">
                <div style="margin-top: 20px;"><input type="submit" value="Utwórz" /></div>
            </div>
        </div>
    </form>
{% endblock %}
{% block endbody %}
    <script src="/js/create_contest/type_events.js"></script>
    <script src="/js/create_contest/initial_events.js"></script>
    <script src="/js/create_contest/send_form.js"></script>
{% endblock %}
