<div>
    <p>Wymagania do wzięcia udziału w konkursie: <br />
    <input type="radio" name="requirement" value="picture" /> Zdjęcie
    <input type="radio" name="requirement" value="video" /> Filmik (YouTube)
    <input type="radio" name="requirement" value="text" /> Tekst
    <input type="radio" name="requirement" value="file" /> Inny plik
    <input type="radio" name="requirement" value="none" /> Żadne</p>

    <p>Sposób losowania:
    <input type="radio" name="method" value="date" class="pick_date" /> W określonej dacie (będziesz mógł ją podać podczas startowania konkursu)<br />
    <input type="radio" name="method" value="button_click" class="button_click" /> Sam zadecyduj, kiedy odbędzie się losowanie <br />
    <input type="radio" name="method" value="number_of_applications" class="number_of_applications" /> Aż nie zgłosi się X osób</p>

    <div class="input_number_of_applications" style="display: none;">
        Ile osób: <input type="number" name="number_of_applications" />
    </div>
    <input type="text" name="number_of_winners" placeholder="Ilość zwycięzców" class="number_of_winners" />
</div>

<div style="margin-top: 20px;">
    W jaki sposób chcesz, aby nagroda została dostarczona? <br />
    <input type="radio" name="delivery" value="automatic" class="automatic_delivery"/> Automatycznie <br />
    <input type="radio" name="delivery" value="by_author" class="delivery_by_author" /> Sam ją dostarczę (w przypadku np. jakiegoś przedmiotu)
</div>

<div class="prize" style="display: none; margin-top: 20px;">
    <span class="a refresh_prizes">(odśwież)</span><br />
    <span class="prize_statement">Nagroda (np. kod do gry), która wyśle się automatycznie w momencie, w którym ktoś wygra.<br /></span>
    <div class="prizes">
    </div>
</div>
