<div>
    <input type="text" name="question" placeholder="Pytanie" /><br />
    <input type="text" name="answer" placeholder="Odpowiedź" /><br />
    <input type="text" name="answer_form" placeholder="Forma odpowiedzi" title="Np. 'Imię  Nazwisko' lub 'x=?'. Poprawna odpowiedź użytkownika może okazać się błędna, ponieważ ten nie zastosował się do formy odpowiedzi." /><br />
    <input type="number" name="number_of_winners" placeholder="Ilość zwycięzców" class="number_of_winners" />
</div>

<div style="margin-top: 20px;">
    W jaki sposób chcesz, aby nagroda została dostarczona? <br />
    <input type="radio" name="delivery" value="automatic" class="automatic_delivery"/> Automatycznie <br />
    <input type="radio" name="delivery" value="by_author" class="delivery_by_author" /> Sam ją dostarczę (w przypadku np. jakiegoś przedmiotu)
</div>

<div class="prize" style="display: none; margin-top: 20px;">
    <span class="a refresh_prizes">(odśwież)</span><br />
    <span class="prize_statement">Nagroda (np. kod do gry), która wyśle się automatycznie w momencie, w którym ktoś wygra.<br /></span>
    <div class="prizes">
    </div>
</div>
