<div>
    <input type="text" name="question" placeholder="Pytanie" /><br />
    <input type="text" name="answer" placeholder="Odpowiedź" /><br />
    <input type="text" name="answer_form" placeholder="Forma odpowiedzi" title="Np. 'Imię  Nazwisko' lub 'x=?'. Poprawna odpowiedź użytkownika może okazać się błędna, ponieważ ten nie zastosował się do formy odpowiedzi." />
</div>

<div style="margin-top: 20px;">
    W jaki sposób chcesz, aby nagroda została dostarczona? <br />
    <input type="radio" name="delivery" value="automatic" class="automatic_delivery"/> Automatycznie <br />
    <input type="radio" name="delivery" value="by_author" class="delivery_by_author" /> Sam ją dostarczę (w przypadku np. jakiegoś przedmiotu)
</div>

<div class="prize" style="display: none; margin-top: 20px;">
    Nagrody (np. kod do gry), które zostaną wysłane automatycznie w momencie, w którym ktoś wygra.<br />
    <input type="text" name="prize[]" placeholder="Nagroda"/>
</div>
