<div>
    <p>Wymagania do wzięcia udziału w konkursie: <br />
    <input type="checkbox" name="requirements[]" value="picture" class="picture_requirement"/> Zdjęcie
    <input type="checkbox" name="requirements[]" value="video" /> Filmik (YouTube)
    <input type="checkbox" name="requirements[]" value="text" /> Tekst
    <input type="checkbox" name="requirements[]" value="files" class="file_requirement"/> Inne pliki</p>

    <div class="pictures_settings" style="margin-top: 20px; display: none;">
        <div>
            <p>Wymiary zdjęcia</p>
            <input type="radio" name="picture_dimensions" value="none" class="default_picture_dimensions"/> Domyślne (Maksymalne: 1000x1000px) <br />
            <input type="radio" name="picture_dimensions" value="custom" class="custom_picture_dimensions"/> Moje własne
        </div>
        <div class="custom_picture_dimensions_container" style="margin-top: 20px; display: none;">
            <input type="text" name="min_width" placeholder="Minimalna szerokość"/> x
            <input type="text" name="min_height" placeholder="Minimalna wysokość"/><br />
            <input type="text" name="max_width" placeholder="Maksymalna szerokość"/> x
            <input type="text" name="max_height" placeholder="Maksymalna wysokość"/>
        </div>
    </div>
    <div class="files_settings" style="margin-top: 20px; display: none;">
        <input type="radio" name="custom_file_extensions" value="yes" class="allow_custom_extensions"/> Ustaw dopuszczalne rozszerzenia plików <br />
        <input type="radio" name="custom_file_extensions" value="no" class="allow_every_extension"/> Zezwól na wszystkie rozszerzenia plików <br />

        <div class="custom_file_extensions" style="display: none;">
            <input type="text" name="permitted_file_extensions"/> rozszerzenia rozdzielone spacją (np. '.exe .bat .rar').
        </div>
    </div>

    <p>Czas na zgłaszanie się do konkursu: <br />
    <input type="radio" name="time" value="yes" /> Tak (przy rozpoczynaniu konkursu będziesz mógł podać datę) <br />
    <input type="radio" name="time" value="no" /> Nie</p>

    <input type="number" name="number_of_winners" placeholder="Ilość zwycięzców" class="number_of_winners" />
</div>

<div style="margin-top: 20px;">
    W jaki sposób chcesz, aby nagroda została dostarczona? <br />
    <input type="radio" name="delivery" value="automatic" class="automatic_delivery"/> Automatycznie <br />
    <input type="radio" name="delivery" value="by_author" class="delivery_by_author" /> Sam ją dostarczę (w przypadku np. jakiegoś przedmiotu)
</div>

<div class="prize" style="display: none; margin-top: 20px;">
    <span class="a refresh_prizes">(odśwież)</span><br />
    <span class="prize_statement">Nagroda (np. kod do gry), która wyśle się automatycznie w momencie, w którym ktoś wygra.<br /></span>
    <div class="prizes">
    </div>
</div>
