{% extends 'base/base.html.twig' %}

{% block title %}Aktywacja konta{% endblock %}
{% block content %}
    <h1>Aktywacja konta</h1>
    {% if activation == true %}
        <div class="success">
            <p>Dziękujemy, Twoje konto zostało aktywowane!</p>
            <p>Możesz się już <span class="a login">zalogować</span>.</p>
        </div>
    {% else %}
        <div class="error">
            <p>Przepraszamy, nie można aktywować konta!</p>
            <p>Sprawdź poprawność linku.</p>
        </div>
    {% endif %}
{% endblock %}
{% block endbody %}
    <script>
        var redirect = 'index';
    </script>
{% endblock %}
