{% extends 'base/base.html.twig' %}

{% block title %}Zmiana adresu email konta{% endblock %}
{% block content %}
    <h1>Zmiana adresu email konta</h1>
    {% if change == true %}
        <div class="success">
            <p>Dziękujemy, Twój adres e-mail został zmieniony!</p>
        </div>
    {% else %}
        <div class="error">
            <p>Przepraszamy, nie można zmienić adresu e-mail!</p>
            <p>Sprawdź poprawność linku.</p>
        </div>
    {% endif %}
{% endblock %}
