<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ subject }}</title>
    </head>
    <body>
        <p>Witaj, {{ name }}!</p>
        <p>Dziękujemy za założenie konta na {{ app_name }}.</p>
        <p style="font-weight: bold;">W celu aktywacji konta kliknij w poniższy link (lub w razie problemów skopiuj go w pasek adresu przeglądarki):</p>
        <p><a href="{{ path }}activate/{{ hash }}">{{ path }}activate/{{ hash }}</a></p>
        <p>Pozdrawiamy i życzymy przyjemnego korzystania z serwisu.</p>
        <p>Zespół {{ app_name }}</p>
    </body>
</html>
