<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ subject }}</title>
    </head>
    <body>
        <p>Witaj, {{ name }}!</p>
        <p>Otrzymaliśmy prośbę o zmianę adresu e-mail konta {{ login }} w {{ app_name }}.</p>
        <p>Aktualny adres e-mail: {{ old_email }}</p>
        <p>Nowy adres e-mail: {{ new_email }}</p>
        <p style="font-weight: bold;">W celu potwierdzenia zmiany kliknij w poniższy link (lub w razie problemów skopiuj go w pasek adresu przeglądarki):</p>
        <p><a href="{{ path }}change-email/{{ hash }}">{{ path }}change-email/{{ hash }}</a></p>
        <p>Jeśli to nie ty prosiłeś o zmianę adresu e-mail zignoruj tę wiadomość i sprawdź zabezpieczenia swojego konta.</p>
        <p>Pozdrawiamy i życzymy przyjemnego korzystania z serwisu.</p>
        <p>Zespół {{ app_name }}</p>
    </body>
</html>
